.h-50
{
    height: 50px;
}
.h-150
{
    height: 150px;
}
.wd-50
{
    width: 25px;
}
.wd-100
{
    width: 100px;
}
.container
{
    height: 50px;
}
.m-10
{
    margin: 0px 30px;
}
#administrativeTitle
{
    width: 100%;
    font-size:15px;
}
.step
{
    padding: 20px 0;
    border: 1px solid gray;
    text-align: center;
    justify-content: center;
    width: 1100px;
}
ol, ul, li 
{
    list-style: none;
    margin-bottom: 0px !important;
    display:inline;
}
table
{
    border:1px solid gray; /* 표의 테두리 - 1px 회색 실선 */
    border-collapse:collapse; /* 표 테두리와 셀 테두리 합치기 */
    width: 1100px;
}
.first-block
{
    border: 1px solid gray;
    width: 300px;
}
.second-block
{
    border: 1px solid gray;
    width: 800px;
}
.h-25
{
    height: 25px;
}
.formula
{
    border: 1px solid gray;
    display: inline;
    height: 75px;
    width: 150px;
}
tr
{
    height: 70px;
    border: 1px solid transparent;
}
.row
{
    text-align:center;
}
textarea
{
    width: 992px;
    height: 100%;
    resize: none;
}
.textarea
{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
select
{
    height: 35px;
}
.second
{
    width: 300px;
}
#subjectiveType
{
    height: 35px;
    width: 100px;
    font-size: medium;
}
th
{
    width: 100px;
    border-collapse:collapse; /* 표 테두리와 셀 테두리 합치기 */
    /* border:1px solid gray; /* 표의 테두리 - 1px 회색 실선 */
}

.input
{
    height: 70px;
}